*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: auto;
        font-weight: bold;
}
html{
    font-size: 10px;
    font-family: 'sen' sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
 /* #nav-bar .menu ul{
    list-style-type: none;
    position: absolute;
    background-color: black;
    width: 100vh;
    height:100vh;
    left: 0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
 /* #nav-bar .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    z-index: 100;
    cursor: pointer;
  
}
#nav-bar .hamburger .bar{
    height: 30%;
    width: 40px;
    position: relative;
    background-color: white;
    z-index: -1;
    margin: auto;
     */
    


#nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
#nav-bar div{
    padding-top: 15px;
    color: blue;
}
.navcontainer span{
    font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 36px;

}
.navcontainer div{
    display: inline-block ;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Sen', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 36px;
padding-left: 60px;
}
.menu li{
    text-decoration: none;
    display: inline-block;
    color: blue;
    position: relative;
    right: 35px;
    font-size: 17px;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Sen', sans-serif;
    font-weight: 5;
}
/* hero section */
#hero{
      text-align: center;
}
#hero h1{
    font-size: 25px;
    font-weight: bold;
    line-height: 29px;
    font-family: 'Sen', sans-serif;
}
#hero p{
    font-size: 40px;
    color: rgba(118, 118, 118, 1);
    margin: 10px 0px;
}
#hero .cta{
    text-decoration: none;
    padding: 8px 12px;
    display: inline-block;
    border: 1px solid rgba(56, 56, 244, 1);
    border-radius: 10px;
    color: black;
    font-weight: normal;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Sen', sans-serif;
    transition: .3s ease background-color;
    letter-spacing: .2rem;
    
 
    margin-top: 50px;
}
#hero .cta:hover{
    background-color: rgba(56, 56, 244, 1);
    color: white;
}
/* End hero section */

/* portfolio section */
#portfolio{
    background-color: rgba(237, 235, 235, 1);
    text-align: center;
}
#portfolio h1{
    font-size: 25px;
    color: rgba(56, 56, 244, 1);
    font-family: 'Sen', sans-serif;
}
#portfolio p{
    font-size: 17px;
    color: rgba(118, 118, 118, 1);
    margin: 25px 0px;

}
#portfolio .container{
    min-height: 50vh;
}
#portfolio .cta{
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid rgba(56, 56, 244, 1);
    border-radius: 15px;
    color: black;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2rem;
    transition: .3s ease background-color;
}
#portfolio .cta:hover{
    background-color: rgba(56, 56, 244, 1); 
    color: white;
}
/* End portfolio section */
/* stack section */
#stack{
    background-color: white;
    text-align: center;
}
#stack h1{
    font-size: 25px;
    color: rgba(56, 56, 244, 1);
    font-family: 'Sen', sans-serif;
}
#stack .container{
min-height: 50vh;
  font-size: 17px;
    color: rgba(118, 118, 118, 1);
    margin: 25px 0px;
}
/* contact section */
#contact{
    text-align: center;
}
#contact .container{
min-height: 50vh;
}

#contact h1{
    font-size: 25px;
    color: rgba(56, 56, 244, 1);
    font-family: 'Sen', sans-serif;

}
#contact p{
    font-size: 16px;
    color: rgba(118, 118, 118, 1);
    margin: 25px 0px;

}
#contact .p-head{
      font-size: 18px;
    font-weight: normal;
        font-family: 'Sen', sans-serif;
        margin-top: 10px;
}
.accountscontainer{
    text-align: center;
        width: 50pc;
    letter-spacing: 10px;
   
}
.accountscontainer img{
    width: 3%;
    height: auto;
     margin-bottom: 15px;
}
/* Media query for tablet */
@media only screen and (min-width:768px){
    /* Hero section */
#hero p{
    font-size: 17px;
    font-weight: bold;
    font-size: 60px;
    margin: 10px 0px;
}
#hero .cta{
  text-decoration: none;
    padding: 8px 12px;
    display: inline-block;
    border: 1px solid rgba(56, 56, 244, 1);
    border-radius: 10px;
    color: black;
    font-weight: bol;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Sen', sans-serif;
    transition: .3s ease background-color;
    margin-top: 50px;
    letter-spacing: .2rem;
}
#hero h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 29px;
    font-family: 'Sen', sans-serif;
    margin: 10px;
}
  /* portfolio section */
#portfolio h1{
    font-size: 28px;
}
#portfolio p{
    font-size: 29px;
    
}
#portfolio .cta{
  text-decoration: none;
    padding: 8px 12px;
    display: inline-block;
    border: 1px solid rgba(56, 56, 244, 1);
    border-radius: 10px;
    color: black;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Sen', sans-serif;
    transition: .3s ease background-color;
    margin-top: 50px;
    letter-spacing: .2rem;
}
  /* stack section */
#stack h1{
    font-size: 28px;
}
#stack p{
    font-size: 18px;
    font-weight: normal;
        font-family: 'Sen', sans-serif;
             margin-top: 15px;
}
.stack-item{
    display: flex;
}
.stack-item1{
    display: flex;
}
.stack-item2{
    display: flex;
}
.stack-description{
    margin: auto;
}
.stack-body{
    margin-top: 10px;
}
.stack-description{
    margin-left: 40px;
}
.stack-icon{
    margin: 5px;
}
/* Contact session */
#Contact h1{
    font-size: 28px;
}
#contact p{
      font-size: 18px;
    font-weight: normal;
        font-family: 'Sen', sans-serif;
        margin-top: 15px;
}
#contact .p-head{
      font-size: 20px;
    font-weight: normal;
        font-family: 'Sen', sans-serif;
}
.accountscontainer{
    text-align: center;
        width: 50pc;
    letter-spacing: 10px;
}
.accountscontainer img{
    width: 4%;
    height: auto;
}
}
/* End Media query for tablet */